.wrapper {
  width: 100%; 

  border-bottom: 1px solid var(--border-color);

  padding: 0rem;

  box-sizing: border-box;
background-color:#4c2418;


  a {
    text-decoration: none;
    font-weight: 300;
    color: rgb(253, 216, 146);
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: #8f2e04;
    margin-left: 20px;

    &.active {
      font-weight: 900;
    }
  }

  .logo {
    height:200%;
    object-fit: contain; 
    width: 250px;
    margin-right: auto;
    
  }
}
